<turbo-frame id="turbo_front_person">
  <div class="p-4 bg-amber-200">
    <% if person.last_order %>
      <div id="<%= dom_id person %>" 
          class="grid grid-cols-4" 
          data-filter-target="person"
          data_person_id =<%= person.id %>
          data_name="<%= person.name %>"
          data_order_id="<%= person.last_order.id %>"
          data_order_drink="<%= person.last_order.drink %>"
          data_order_status="<%= person.last_order.status %>"
          data_order_when="<%= time_ago_in_words(person.last_order.created_at) %>"
    <% else %>
      <div id="<%= dom_id person %>" 
          class="grid grid-cols-4"
          data-filter-target="person"
          data_person_id =<%= person.id %>
          data_name="<%= person.name %>"
    <% end %>

      <div data-action="click->filter#selectPerson">
        <%= person.name %>
      </div>

      <% if person.last_order %>
        <div><%= person.last_order.drink %></div>
        <div><%= person.last_order.status %></div>
        <div><%= time_tag person.last_order.created_at, 
                "data-local":"time-ago" %></div>
      <% else %>
        <div></div><div></div><div></div>
      <% end %>
    </div>
  </div>
</turbo-frame>
