<turbo-frame id="turbo_front_person">
  <% if person.last_order %>
    <tr id="<%= dom_id person %>"
        data-filter-target="person"
        data_person_id =<%= person.id %>
        data_name="<%= person.name %>"
        data_order_id="<%= person.last_order.id %>"
        data_order_drink="<%= person.last_order.drink %>"
        data_order_status="<%= person.last_order.status %>"
        data_order_when="<%= time_ago_in_words(person.last_order.created_at) %>"
    >
  <% else %>
    <tr id="<%= dom_id person %>" 
        data-filter-target="person"
        data_person_id =<%= person.id %>
        data_name="<%= person.name %>"
    >
  <% end %>

    <td data-action="click->filter#selectPerson">
      <%= person.name %>
    </td>

    <% if person.last_order %>
      <td><%= person.last_order.drink %></td>
      <td><%= person.last_order.status %></td>
      <td><%= time_tag person.last_order.created_at, 
              "data-local":"time-ago" %></td>
    <% else %>
      <td></td><td></td><td></td>
    <% end %>
  </tr>
</turbo-frame>
